# SkillCorner x PySport Analytics Cup — Analyst Track
Author: Carlos Vinicius
Date: 2025-10-22

===========================================

1. Importação das bibliotecas

===========================================

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import json
import os

2. Importação de arquivos

In [2]:
url_json_matches = 'https://raw.githubusercontent.com/SkillCorner/opendata/refs/heads/master/data/matches.json'
matches_df = pd.read_json(url_json_matches)
url_csv_agrregates = 'https://raw.githubusercontent.com/SkillCorner/opendata/refs/heads/master/data/aggregates/aus1league_physicalaggregates_20242025_midfielders.csv'
aggregates_df = pd.read_csv(url_csv_agrregates)

In [5]:
print("Número de partidas:", len(matches_df))
print("Número de partidas:", len(aggregates_df))

matches_df.head()
aggregates_df.head()

Número de partidas: 10
Número de partidas: 406

,player_name,player_short_name,player_id,player_birthdate,team_name,team_id,competition_name,competition_id,season_name,season_id,...,sprint_distance_full_otip,sprint_count_full_otip,hi_distance_full_otip,hi_count_full_otip,medaccel_count_full_otip,highaccel_count_full_otip,meddecel_count_full_otip,highdecel_count_full_otip,explacceltohsr_count_full_otip,explacceltosprint_count_full_otip
0,Adam Taggart,A. Taggart,211,1993-06-02,Perth Glory Football Club,871,AUS - A-League,61,2024/2025,95,...,48.46,3.00,297.83,27.21,42.38,2.67,38.25,6.96,1.92,0.08
1,Adama Traoré,A. Traoré,218,1990-02-03,Melbourne Victory Football Club,868,AUS - A-League,61,2024/2025,95,...,69.67,4.00,315.33,25.00,37.83,2.00,25.67,4.50,1.17,0.50
2,Dino Arslanagić,D. Arslanagić,2759,1993-04-24,Macarthur FC,1804,AUS - A-League,61,2024/2025,95,...,29.12,1.25,223.25,16.88,45.12,1.75,30.75,3.50,1.25,0.00
3,Douglas Costa de Souza,Douglas Costa,2858,1990-09-14,Sydney Football Club,869,AUS - A-League,61,2024/2025,95,...,28.00,2.00,227.25,17.50,28.75,2.00,25.00,3.00,0.75,0.25
4,Douglas Costa de Souza,Douglas Costa,2858,1990-09-14,Sydney Football Club,869,AUS - A-League,61,2024/2025,95,...,1.00,0.00,170.00,16.00,26.00,0.00,21.00,2.00,0.00,0.00