# SkillCorner x PySport Analytics Cup — Analyst Track
Author: Carlos Vinicius
Date: 2025-10-22

===========================================

1. Importação das bibliotecas

===========================================

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import json
import os

2. Importação de arquivos

In [20]:
url_json_matches = 'https://raw.githubusercontent.com/SkillCorner/opendata/refs/heads/master/data/matches.json'
matches_df = pd.read_json(url_json_matches)

In [21]:
print("Número de partidas:", len(matches_df))

matches_df.head()

Número de partidas: 10

,id,date_time,home_team,away_team,status,competition_id,season_id,competition_edition_id
0,2017461,2025-05-17 09:35:00+00:00,"{'id': 868, 'short_name': 'Melbourne V FC'}","{'id': 4177, 'short_name': 'Auckland FC'}",closed,61,95,870
1,2015213,2025-05-03 08:00:00+00:00,"{'id': 1803, 'short_name': 'Western United'}","{'id': 4177, 'short_name': 'Auckland FC'}",closed,61,95,870
2,2013725,2025-04-27 07:00:00+00:00,"{'id': 1803, 'short_name': 'Western United'}","{'id': 869, 'short_name': 'Sydney FC'}",closed,61,95,870
3,2011166,2025-04-12 05:00:00+00:00,"{'id': 867, 'short_name': 'Wellington P FC'}","{'id': 868, 'short_name': 'Melbourne V FC'}",closed,61,95,870
4,2006229,2025-03-07 08:35:00+00:00,"{'id': 2380, 'short_name': 'Melbourne City'}","{'id': 1804, 'short_name': 'Macarthur FC'}",closed,61,95,870